body{
    background-color: black;
    overflow-x: hidden;
    width: 100%;
    height: 100%;



}


/*Formatação do Menu*/



nav#menu{
    background-color: black!important;
}
a.page-link{
    color: #CDAC52 !important;
    background-color: #000000 !important;
    border: none;
    font-size: 14pt;
    padding: 2px;

}
ul.navbar-nav{
    margin-left: 100px;
}


div.lobos img{
    padding-left: 10px;
    padding-right: 10px;

}
div.lobos img.logo{
    margin-right: 100px;
}
button.navbar-toggler{
    width: 45px;
    height: 33px;
    padding: 2px;
    margin-bottom: 2px;
    margin-left: -55px;
    border-color: #CDAC52!important;
}

li.nav-item{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px!important;
}
div#navbarSupportedContent{
    margin-left: 10px;
}
@media all and (max-device-width: 800px) and (orientation: landscape){
    ul.navbar-nav li{
        width: 30%;
        margin-left: -100px;

    }

}
@media all and (max-device-width: 640px){
    li.nav-item img{

        margin-left: -22px;

    }

}
@media all and (max-device-width: 640px){
    ul.navbar-nav li{
        width: 30%;
        margin-left: -75px;

    }

}
@media all and (max-device-width: 812px) and (orientation: landscape){
    ul.navbar-nav img{
        margin-left: -100px;

    }

}
@media screen and (max-device-width: 768px){
    div.lobos img{
        margin-left: -10px;

    }

}
@media screen and (max-device-width: 768px){
    ul.navbar-nav img{
        margin-left: -110px;

    }

}
@media all and (max-device-width: 800px) and (orientation: landscape){
    .button{

        margin-left: 50px;

    }
}

@media all and (max-device-width: 640px){
    .button{

        margin-left:78px;

    }
}
@media screen and (max-device-width: 700px) and (orientation: landscape){
    #menu{
        width: 600px;


    }

}
@media screen and (max-device-width: 800px) and (orientation: landscape){
    ul.navbar-nav img{
        margin-left: -22px;

    }

}
@media screen and (max-device-width: 320px){
    li.nav-item img{
        margin-left: -30px;


    }

}
@media screen and (max-device-width: 320px){
    ul.navbar-nav li{
        margin-left: -80px;


    }

}
@media screen and (max-device-width: 320px){
    div.lobos img{
        margin-left: -10px;


    }

}
@media screen and (max-device-width: 360px) and (min-device-width: 321px){
    li.nav-item img{
        margin-left: -20px;


    }

}
@media screen and (max-device-width: 414px) and (min-device-width: 375px){
    li.nav-item img{
        margin-left: -20px;


    }

}
@media screen and (max-device-width: 320px){
    div.button{
        margin-left: 70px;


    }

}


div#navbarSupportedContent{
    margin-left: 10px;
}




header{
    width: 100%;
    border-bottom: 1px ridge #CDAC52;
    margin-bottom: 20px;
}



/*Formatação do rodapé*/

footer{
    border-top: 1px ridge #cdac52;
    width: 100%;
    clear: both;
    position: relative;
    padding: 0;

}
footer p {
    text-align: center;
    margin-bottom: -1px;
    font-weight: bold;
    font-size: 10pt;
}
footer a{
    color:#cdac52 !important;
    font-weight: lighter;
}
/*formatação dos indicadores do carousel*/
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;

}

/* formatação do carousel*/
div#rotativo{
    padding-top: 20px;
}



@media screen and (max-device-width: 1024px) {
    .carousel-control-next, .carousel-control-prev {
        display: none;

    }
}

/*Formatação formatação do video */
div.container h3.h3{
    color: #CDAC52;
    text-shadow: 1px 1px 2px yellow;
    margin-top: 50px;
    font-size: 1.266em;

}

iframe#videohome{
    display: block;
    position: absolute;
    width: 82%;
    height: 95%;


}

div#video{
    left: 9%;
}


/*FORMATAÇÃO DA BANDA*/

img#loboMoto{
    margin-top: 100px;

}


section.sobre{
    background-image: url("../imagens/fundo_filme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size:cover;
    -o-background-size:cover;

}

section.sobre p{
    float: left;
    text-align: justify;
    text-indent: 30px;
    color: white;
    margin-right: 30px;

}
p span{
    text-decoration: underline;
    color: #CDAC52;
}
div.col-md-7{
    margin-top: 20px;
}
@media only screen and (min-width : 1267px){
    section.sobre p{
        font-size:15px ;

    }
}


@media only screen and (min-width : 1400px) and (max-width : 1549px){
    section.sobre p{
        font-size:20px ;

    }
}

div.col-md-7{
    background-color: rgba(0,0,0,0.5) !important;
    padding-left: 40px !important;

}
div.col-md-3{
    margin-top: 100px;
}

/*FORMATAÇÃO DA GALERIA*/

/*galeria*/
h1.title{
    text-align: center;
    color: #CDAC52!important;
    text-shadow: lightgoldenrodyellow !important;
    margin-bottom: 20px;
}

.gallery-container {
    width: 90%;
    height: 90%;
    position: relative;
    margin: 0 5%;
    background: #333;
    padding: 2px;

}
@media (min-width: 480px) {
    .gallery-container {
        width: 800px;
        margin: auto;
    }
}



/* botões prev. e next.*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.7);
}


/* posição do botão next. */
.next {
    right: 60px;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 60px;
    border-radius: 3px 0 0 3px;
}

/* efeito hover dos botões next prev*/
.prev, .next {
    background-color: rgba(247,239,239,0.7);
    color: #CDAC52;
}

/* texto da legenda */
.text-info{
    color: #828080!important;
    font-size: 18px;
    padding: 8px 12px;
    width: 100%;
    text-align: left;
}

.slide {
    width: 100%;
}

/* números da fotos */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
@media (max-width: 768px) {
    .numbertext {
        top: 15px;
    }
}

/* animações */
.img-thumbnail {
    -webkit-animation-name: spinner-grow;
    -webkit-animation-duration: 2.0s;
    animation-name: spinner-grow;
    animation-duration: 2.0s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*FORMATAÇÃO DA ABA VÍDEOS*/


.boxVideo iframe{
    width: 400px;
    height: 285px;
    margin-left: 25px;
}
@media screen and (max-device-width: 600px){
    .boxVideo iframe {
        width: 325px;
        height: 205px;
        margin-left: 20px;


    }

}
@media screen and (min-device-width: 640px) and (orientation:landscape ){
    .boxVideo iframe {
        width: 195px;
        height: 115px;
        margin-left: 10px;


    }

}
@media screen and (min-device-width: 700px){
    .boxVideo iframe {
        width: 425px;
        height: 285px;
        margin-left: 15px;


    }

}


/*Formatação da página de contatos*/
section.contato h2{
    color: #CDAC52!important;
    margin-top: 40px;
    margin-right: 0px;


}
div.figure-img img{
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 0px;

}




div#chamada{
   color: #CDAC52;
    float: left;


}

button.col-lg-12{
    background-color: #CDAC52;
    border-color: #CDAC52;
    color: white;
    font-size: 16px;
    border-radius: 15px;

}
@media screen and (max-device-width: 800px) and(orientation: landscape) {
    .formulario {
        width: 300px;
        margin-right: auto;

    }

}
@media screen and (max-device-width: 800px) and (orientation: landscape){
    #chamada {
        width: 200px;
        margin-left: -15px;
        margin-right:25px;

    }

}










